.main {
    margin-top: 5vh;
    height: 95vh;
    flex: 1;
    padding: 20px;
    background-color: #f4f4f4;
    transition: margin 0.3s ease;
    overflow: hidden;
    text-align: center;
}

.drawer-is-open {
    margin-left: 240px;
}
